In [1]:
import zoo

zoo.hours()

Open 9-5 daily

In [2]:
import zoo as menagerie

menagerie.hours()

Open 9-5 daily

In [3]:
import sqlite3
conn = sqlite3.connect('books.db')
curs = conn.cursor()
curs.execute('''CREATE TABLE books (title text, author text, year int)''')

In [4]:
curs.execute('INSERT INTO books VALUES("The Weirdstone of Brisingamen", "Alan Garner", 1960)')

In [5]:
curs.execute('INSERT INTO books VALUES("Perdido Street Station", "China Miéville", 2000)')

In [6]:
curs.execute('INSERT INTO books VALUES("Thud!", "Terry Pratchett", 2005)')

In [7]:
curs.execute('INSERT INTO books VALUES("The Spellman Files", "Lisa Lutz", 2007)')

In [8]:
curs.execute('INSERT INTO books VALUES("Small Gods", "Terry Pratchett", 1992)')

In [9]:
rows = conn.execute('SELECT * FROM books')
print(rows)

<sqlite3.Cursor object at 0x00000185F36087A0>

In [10]:
for row in rows:
    print(row)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

In [14]:
import sqlalchemy as sa
conn = sa.create_engine('sqlite:///books.db')
rows = conn.execute('SELECT title FROM books ORDER BY title')
for row in rows:
    print(row)